.about {
  background-color: #042c54;
  margin: 0 2rem;
  margin-top: 4rem;
  padding: 2.5rem;
  padding-bottom: 4rem;
}

.about .what-is {
  display: flex;
  padding: 0.5rem 1rem;
}

.about .what-is .title {
  flex: 2;
}

.what-is .title h3 {
  font-size: 1.4rem;
}

.about .what-is .description {
  flex: 5;
}

.what-is .description p {
  line-height: 30px;
  color: #81afdd;
}

.possibilities {
  margin-top: 3rem;
  padding: 0.5rem 1rem;
}

.possibilities .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.possibilities .title h3 {
  font-size: 2rem;
  line-height: 45px;
  background-image: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  color: transparent;
}

.possibilities .title a {
  text-decoration: none;
  color: #ff8a71;
}

.possibilities-content {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.possibility h4 {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.possibility p {
  color: #81afdd;
}

/* ==============MEDIA QUERIES=============== */

@media screen and (max-width: 900px) {
  .about .what-is {
    flex-direction: column;
  }
  .possibilities-content {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .about {
    padding: 2rem 0;
  }
  .what-is .title h3 {
    font-size: 1.2rem;
  }
  .what-is .description p {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }

  .possibilities .title h3 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .possibilities .title a {
    font-size: 0.6rem;
  }

  .possibilities-content {
    gap: 4rem;
  }

  .possibility h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .possibility p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 420px) {
  .about {
    margin: 0 1rem;
    margin-top: 4rem;
  }

  .possibilities .title h3 {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}
